<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6d761d66c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style1.css">
    <style>
        @import url('https://fonts.googleapis.com/css2? family= Poppins:wght@600 & display=swap');
*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(hsl(246, 44%, 31%), #20184e, #26216d);
    font-family: 'Poppins', sans-serif;

}
#form{
    position: relative;
    top: -90px;
    left: 1150px;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    height: 460px;
    align-items: center;
    color: rgb(0, 0, 0);

}
.titulo{
    font-size: 1.8em;
    margin-bottom: 10%;
}
.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px rgb(0, 0, 0) solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
    font-size: 20px;
    text-align: center;
}
#titulo2{
    background: rgb(35, 34, 99);
    text-align: center;
    border-radius: 10px;
}
.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: 'poppins', sans-serif;
    transform: translateY(-10%);
    color: rgb(0, 0, 0);
    font-size: 11pt;

}
#bot達o{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
#bot達o button{
    font-family: 'poppins', sans-serif;
    background: linear-gradient(hsl(236, 58%, 28%), #15144b, #211c63);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
#bot達o button:hover{
    background: linear-gradient(hsl(235, 91%, 65%), #292868, #28236e);

}
#logo{
    position: relative;
    top: 120px;
    left: 160px;
    border-radius: 30px;
    
}
input i{
    font-size: 1.2em;
    padding: 5px;
}
    </style>
    <title>Document</title>
</head>
<body>
    <img src="images/WhatsApp Image 2022-08-02 at 18.43.43.jpeg" alt="" width="600" id="logo">
    <div id="form">
        <form method="post" action="/cadastro/save">
            <input type="hidden" name="id" value="<%= funcionario.id %>">
            <h2 class="titulo">Venha para o nosso time!</h2>
           
            <label for="username">nome</label>
            <div class="input">
                <i class="fa-solid fa-user"></i>
                <input type="text" id="username" name="nome" placeholder="Nome" value="<%= funcionario.nome %> ">
            </div>

            <label for="email">Email</label>
            <div class="input">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" id="email" name="email" placeholder="Email" value="<%= funcionario.email %> ">
            </div>

            <label for="funcao">Senha</label>
            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <input type="password" id="senha" name="senha" placeholder="Senha" value="<%= funcionario.senha %>">
            </div>


            <label for="matricula">matricula</label>
            <div class="input">
                <i class="fa-solid fa-id-card"></i>
                <input type="text" id="matricula" name="matricula" placeholder="Matricula" value="<%= funcionario.matricula %>">
            </div>

            <label for="contato">Contato</label>
            <div class="input">
                <i class="fa-solid fa-address-book"></i>
                <input type="text" id="contato" name="contato" placeholder="Contato" value="<%= funcionario.contato %>">
            </div>

            <div id="bot達o">
                <button type="submit">Cadastrar</button>
            </div>


        </form>
    </div>
</body>
</html>