<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style3.css">
  <style>
    @import url('https://fonts.googleapis.com/css2? family= Poppins:wght@600 & display=swap');

body{

    background-color: rgba(19, 19, 102, 0.733);
}

.container{

    width: 100%;  
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.nav_bar{

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tb{
    
    text-align: center;
    flex-wrap: wrap;
    /* border-top: 2px double black; */
    width:100%;
    padding: 5px;
    font-size: 17px;
    border: solid;

}

.barraform{
    border-top: 2px solid black;
}
.bottomstb{
   display: flex;
  
   
   
}
h1{
    font-size: 40px;
}
.busca{
    position: relative;
    left: 250px;
}
.justify{
    display: flex;
}
  </style>
</head>
<body>


  <div class="container">
    
    <nav class="nav_bar">
    
        <h1> Tela de Funcionários </h1>
        <form  method="GET" action="/listagem/search">
          <div>
            <input type="search" name="nome" placeholder="Buscar">
            <button type="submit" class="btn btn-dark"><i class="bi bi-search"></i></i></button>
          </div>
        </form>
        <a href="./cadastro">
          <button type="submit" class="btn btn-dark"> Novo </button>
        </a>
       
    </nav>
    <div>
      <table class="tb">
        <thead>
          <tr>
            <th scope="col" class="barraform"> # </th>
            <th scope="col" class="barraform"> Nome </th>
            <th scope="col" class="barraform"> Email </th>
            <th scope="col" class="barraform"> Senha </th>
            <th scope="col" class="barraform"> Matricula </th>
            <th scope="col" class="barraform"> Contato </th>
          </tr>
        </thead>
        <tbody>
          <% for( listagem of funcionario) { %>
            <tr scope="row" >
              <th><%= listagem.id %> </th>
              <td><%= listagem.nome %></td>
              <td><%= listagem.email %></td>
              <td><%= listagem.senha %></td>
              <td><%= listagem.matricula %></td>
              <td><%= listagem.contato %></td>
              <td>
                
                  <div class="justify">

                  <form action="/listagem/delete" method="post" >
                    <input type="hidden" name="id" value="<%= listagem.id %>">
                    <button type="submit" class="btn btn-dark"><i class="bi bi-trash3"></i></button>
                  </form>
                  
                  <button class="btn btn-dark">
                    <a href="./cadastro?id=<%= listagem.id %>" id="link"><i class="bi bi-pencil"></i></a>
                  </button>
                  </div>
              </td>
            </tr>
          <% } %>
          
          
         
        </tbody>
      </table>
    </div>

  </div>



</body>
</html>